CompileFlags:
  Add:
    - --target=avr
    - -mmcu=atmega328p
    - -std=c++17

    # Arduino core
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/cores/arduino
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/variants/standard

    # AVR libc
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/tools/avr-gcc/7.3.0-atmel3.6.1-arduino7/avr/include

    # Arduino libraries
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/libraries/EEPROM/src
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/libraries/HID/src
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/libraries/SoftwareSerial/src
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/libraries/SPI/src
    - -IC:/Users/ASUS/AppData/Local/Arduino15/packages/arduino/hardware/avr/1.8.7/libraries/Wire/src

    # defines
    - -DARDUINO_AVR_UNO
    - -DF_CPU=16000000L
